# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
build/
dist/
*.egg-info/

# Environment / Secrets
.env
.env.*
!.env.example
HF_TOKEN
API_KEY
META_API_KEY

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log